# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [9]:
import pandas as pd
url_1=  "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url_2= "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url_3= "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"
data_1 = pd.read_csv(url_1)
data_2 = pd.read_csv(url_2)
data_3 = pd.read_csv(url_3)
data_1.head(5)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [11]:
data_1= data_1.rename(columns={'ST': 'state'})
data_1.columns = data_1.columns.str.lower().str.replace(' ', '-')
data_1.head(1)

,customer,state,gender,education,customer-lifetime-value,income,monthly-premium-auto,number-of-open-complaints,policy-type,vehicle-class,total-claim-amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934

In [13]:
data_2 = data_2.rename(columns={'ST': 'state'})
data_2.columns = data_2.columns.str.lower().str.replace(' ', '-')
data_2.head(1)

,customer,state,gender,education,customer-lifetime-value,income,monthly-premium-auto,number-of-open-complaints,total-claim-amount,policy-type,vehicle-class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car

In [15]:
data_3=data_3.rename(columns={'ST': 'state'})
data_3.columns = data_3.columns.str.lower().str.replace(' ', '-')
data_3.head(1)

,customer,state,customer-lifetime-value,education,gender,income,monthly-premium-auto,number-of-open-complaints,policy-type,total-claim-amount,vehicle-class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.2,Two-Door Car

In [19]:
data= pd.concat([data_1, data_2, data_3], axis=0)
data

,customer,state,gender,education,customer-lifetime-value,income,monthly-premium-auto,number-of-open-complaints,policy-type,vehicle-class,total-claim-amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [20]:
gender_map = {
    'Male': 'M', 'male': 'M', 'M': 'M', 'm': 'M', 'Man': 'M',
    'Female': 'F', 'female': 'F', 'FEMALE': 'F', 'F': 'F', 'f': 'F', 'Fem': 'F', 'fem': 'F', 'Woman': 'F'
}

data['gender'] = data['gender'].replace(gender_map)

In [21]:
unique_states = data['state'].nunique()
state_map = {'WA': 'Washington'
            , 'AZ': 'Arizona',
            'Cali': 'California'}

data['state'] = data['state'].replace(state_map)

In [22]:
edu_x = data['education'].unique()
data['education'] = data['education'].replace('Bachelors', 'Bachelor')

In [30]:
merge_cars = data['vehicle-class'].unique()
merge_cars = {'SUV': 'Luxury'
            , 'Luxury SUV': 'Luxury',
            'Sports Car': 'Luxury',
             'Luxury Car': 'Luxury' 
             }
data['vehicle-class'] = data['vehicle-class'].replace(merge_cars)

vehicle= data['vehicle-class'].nunique()

In [31]:
data['customer-lifetime-value'] = data['customer-lifetime-value'].astype(str).str.rstrip('%').astype(float)

data['customer-lifetime-value'].dtype

dtype('float64')

In [32]:
data['number-of-open-complaints'].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan, 0,
       2, 3, 1, 5, 4], dtype=object)

In [33]:
data['number-of-open-complaints'] = data['number-of-open-complaints'].apply(lambda x: int(x.split('/')[1]) if type(x) == str else x)

In [34]:
data['number-of-open-complaints'].value_counts()

number-of-open-complaints
0.0    7255
1.0    1012
2.0     376
3.0     290
4.0     148
5.0      56
Name: count, dtype: int64

In [35]:
data.dropna(how='all', inplace=True)

In [36]:
data.gender.fillna(method='bfill', inplace= True)

C:\Users\Davide\AppData\Local\Temp\ipykernel_21788\1189234105.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.gender.fillna(method='bfill', inplace= True)

In [37]:
data['customer-lifetime-value'].fillna(data['customer-lifetime-value'].mean(), inplace=True)

In [40]:
data.dropna(how='all', inplace=True)

In [41]:
data.isnull().sum()

customer                     0
state                        0
gender                       0
education                    0
customer-lifetime-value      0
income                       0
monthly-premium-auto         0
number-of-open-complaints    0
policy-type                  0
vehicle-class                0
total-claim-amount           0
dtype: int64

In [42]:
data.head()

,customer,state,gender,education,customer-lifetime-value,income,monthly-premium-auto,number-of-open-complaints,policy-type,vehicle-class,total-claim-amount
0,RB50392,Washington,F,Master,1.821964e+05,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6.979536e+05,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1.288743e+06,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7.645862e+05,0.0,106.0,0.0,Corporate Auto,Luxury,529.881344
4,GA49547,Washington,M,High School or Below,5.363077e+05,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [43]:
import pandas as pd
url="https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
data= pd.read_csv(url)
pd.set_option('display.max_columns', None)

In [44]:
data.isnull().sum()

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [45]:
data.head(1)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.21696,No,Basic,College,2011-02-18,Employed,M,48029,Suburban,Married,61,7.0,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.8,Four-Door Car,Medsize,A,2

In [47]:
df_grouped = data.groupby(['sales_channel'])['monthly_premium_auto'].sum()

In [48]:
df_grouped

sales_channel
Agent          386335
Branch         280953
Call Center    197970
Web            151511
Name: monthly_premium_auto, dtype: int64

In [55]:
pivot_table = df_pivot.pivot(index='education', columns='gender', values='customer_lifetime_value')
pivot_table

gender                           F             M
education
Bachelor              1.338626e+07  1.211006e+07
College               1.246011e+07  1.285173e+07
Doctor                1.465702e+06  1.490482e+06
High School or Below  1.379360e+07  1.268091e+07
Master                3.874600e+06  3.365559e+06

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here